:root {
    --color-primary: #8B80F9;
    --color-secondary: #0000004d;
    --color-black-1: #1d2043;
    --color-white-background: #f9fafb;
    --color-title-background: #d1ccfe;
    --color-text-p: #00000099;
}