:root {
  --color-primary: #8b80f9;
  --color-secondary: #0000004d;
  --color-black-1: #1d2043;
  --color-white-background: #f9fafb;
  --color-title-background: #d1ccfe;
  --color-text-p: #00000099;
  --color-text-h3: #255983;
  --color-success: #4bb543;
  --color-error: #f20000;
}
