header {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
}

header .logo img {
    filter: drop-shadow(0 3px 5px var(--color-secondary));
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    text-decoration: none;
    color: var(--color-black-1);
}