@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300&display=swap');

@import './helpers/helpers.css';
@import './helpers/colors.css';

@import './pages/header.css';
@import './pages/banner.css';
@import './pages/services.css';
@import './pages/contact.css';
@import './pages/footer.css';

@import './helpers/responsive.css';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}